<div class="phrase-group" id="diseases">
  <p class="selects">
    {{view Ember.Select content=havePronouns optionValuePath="content" optionLabelPath="content.eng" value=selectedHavePronounEng}}
    {{view Ember.Select content=diseaseNouns optionValuePath="content" optionLabelPath="content.eng" value=selectedDiseaseNoun}}
  </p>

  <p class="translation">
    {{havePronounJap}}{{diseaseNounJap}}がかかっています。
  </p>

  <p class="pronunciation">
    {{havePronounJapSay}} {{diseaseNounJapSay}} ga kakatte imasu.
  </p>
</div>
