<h1>Translate all the words!</h1>

<p>
  {{view Ember.Select content=pronouns optionValuePath="content" optionLabelPath="content.eng" value=selectedEngPronoun}}
  {{view Ember.Select content=nouns optionValuePath="content" optionLabelPath="content.eng" value=selectedEngNoun}}
  {{view Ember.Select content=verbs optionValuePath="content" optionLabelPath="content.eng" value=selectedEngVerb}}
</p>

<p>
  {{pronounJap}}{{nounJap}}{{verbJap}}
  <br />
  {{pronounJapSay}} {{nounJapSay}} {{verbJapSay}}
</p>
